{% extends 'base.html'%}
{% load static%} 
{% block content %}
{% url 'postDetail' as postDetail_url %}
<div class="container">
  <div class="container">
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if request.user.is_superuser %}
      <form method="get" action="{% url 'posts' %}">
        <p>
          Filter:
          <select id="select_change" class="form-control" name="search">
            <option {% if not filter_val %}selected{%endif%} value="">All</option>
            <option {% if filter_val == "unpublish" %}selected{%endif%} value="unpublish">Unpublish</option>
            <option selected="selected" {% if filter_val == "publish" %}selected{%endif%} value="publish">Publish</option>
          </select>
        </p>
        <p><input id="filter" type="submit" hidden name="submit" value="submit" /></p>
      </form>
      {%endif%}
    </div>
    {% if request.user.is_superuser %}
    <div class="card ml-3">
    <div class="d-flex" id="wrapper">
      <div class="bg-white" id="sidebar-wrapper">
          <div class="sidebar-heading bg-light">All Users</div>
          <div class="list-group list-group-flush">
            {%for user in users%}
              <a class="list-group-item list-group-item-action list-group-item-light" href="{{user.id}}">{{user}}</a>
              {% endfor %}
          </div>
      </div>
  </div>
    </div>
  {% endif %}
    {%for post in post_list%}
    <div class="col-md-8 pt-3 m-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted By: {{post.author_name}}</h6>
          <p class="card-text">{{post.content}}</p>
          <p>Posted Date: {{post.publish_date}}</p>
          <form action="{% url 'postDetail' post.id %}">
            <input class="btn btn-success" type="submit" value="Details" />
        </form>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-md-12">
      {% if is_paginated %}
      <div class="pagination pagination-centered">
        <ul>
          {% if page_obj.has_previous %}
          <li>
            <a
              href="{% url 'posts' %}?page={{ page_obj.previous_page_number }}&search=publish"
              >Prev</a
            >
          </li>
          {% endif %} {% for i in paginator.page_range %}
          <li>
            <a href="{% url 'posts' %}?page={{i}}&search=publish">{{i}}</a>
          </li>
          {% endfor %} {% if page_obj.has_next %}
          <li>
            <a
              href="{% url 'posts' %}?page={{ page_obj.next_page_number }}&search=publish"
              >Next</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
      {%endif%}
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        setUrlFilterParam()
    });
    const addQueryParam = (tag, val) => {
        const url = new URL(tag.href);
        url.searchParams.set('search', val);
        return url.toString();
    };
    function setUrlFilterParam(){
        $.map($(document).find(".pagination a"), function (tag) {
            tag.href = addQueryParam(tag, $('#select_change').val())
        });
    }

    $("#select_change").on("change", function(){
        setUrlFilterParam()
        $("input#filter").click()
    });

</script>

{% endblock %}
